$utilities: map-merge(
  $utilities,
  (
    'font-size': map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
          values: map-merge(
              map-get(map-get($utilities, 'font-size'), 'values'),
              (
                sm: 0.875rem,
              )
            ),
        )
      ),
    'rounded': map-merge(
        map-get($utilities, 'rounded'),
        (
          responsive: true,
        )
      ),
  )
);
