<div class="py-6">
  <div class="container">
    <div class="card bg-primary-60 py-4 py-md-5 px-5 px-md-7 rounded-2 rounded-md-3">
      <div>
        <img src="/assets/images/logo-icon-w.svg" alt="logo-icon-white" />
      </div>
      <div class="text-white py-5 border-bottom border-natural-85 border-bottom-dashed mb-4 mb-md-5">
        <h2 class="fw-bold fs-lg mb-3">邁向你真正想過的生活，從這裡開始</h2>
        <p class="fs-md-5">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
      </div>
      <ul class="list-unstyled d-flex flex-column flex-md-row align-items-md-start">
        <li class="d-inline-flex align-items-center mb-4 mb-md-0 me-md-5">
          <img src="/assets/images/icon/call.svg" alt="phone-icon" class="me-2" />
          <a href="tel:+0800123123" class="fw-medium fs-5 fs-md-4 lh-sm text-white">0800-123-123</a>
        </li>
        <li class="d-inline-flex align-items-center">
          <img src="/assets/images/icon/mail.svg" alt="mail-icon" class="me-2" />
          <a href="mailto:Sample@mail.com" class="fw-medium fs-5 fs-md-4 lh-sm text-white">Sample&#64;mail.com</a>
        </li>
        <li class="mt-5 mt-md-0 ms-md-auto">
          <%- include('./components/normal-btn', { btnText: '預約免費職涯探索'}); -%>
        </li>
      </ul>
    </div>
  </div>
</div>
