<nav class="navbar navbar-expand-md py-md-3 bg-white border-bottom border-1 border-natural-85 sticky-top">
  <div class="container">
    <a class="" href="./index.html">
      <img src="/assets/images/logo.svg" alt="logo" />
    </a>

    <ul class="d-none d-md-flex navbar-nav column-gap-md-3">
      <li class="nav-item">
        <a class="nav-link" href="#">服務方案</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">關於職旅</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">聯絡我們</a>
      </li>
    </ul>

    <button type="button" class="btn btn-white border-1 border-natural-85 fs-sm px-4 py-2 ms-auto me-3 mx-md-0">
      登入/註冊
    </button>

    <button
      class="navbar-toggler border-0 header-icon-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <img src="/assets/images/icon/menu.svg" alt="menu-icon" />
    </button>

    <div
      class="d-md-none offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-closed btn btn-white shadow-none ms-auto header-icon-btn"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <img src="/assets/images/icon/close.svg" alt="close-icon" />
        </button>
      </div>
      <div class="offcanvas-body d-flex flex-column">
        <ul class="d-md-none navbar-nav justify-content-start justify-content-md-center flex-grow-1">
          <li class="nav-item mb-5">
            <a class="nav-link py-4 text-center fs-sm" href="#">服務方案</a>
          </li>
          <li class="nav-item mb-5">
            <a class="nav-link py-4 text-center fs-sm" href="#">關於職旅</a>
          </li>
          <li class="nav-item mb-5">
            <a class="nav-link py-4 text-center fs-sm" href="#">聯絡我們</a>
          </li>
        </ul>

        <button
          type="button"
          class="d-md-none btn btn-secondary-50 rounded-md-2 d-inline-flex justify-content-center fw-bold fs-4 fs-md-3 lh-sm btn-custom-lg"
        >
          登入/註冊
        </button>
      </div>
    </div>
  </div>
</nav>
