<button type="button" class="btn btn-black fs-sm fs-md-6 text-white d-inline-flex align-items-center btn-size-normal">
  <%= btnText %><img src="/assets/images/icon/chevron_right.svg" alt="chevron-right" class="ms-md-1" />
</button>
