.bg-service-banner {
  background-image: url(/assets/images/service/banner-bg.png);
  background-repeat: repeat;
  background-position: 50%;

  @media (min-width: 1024px) {
    background-image: url(/assets/images/service/banner-bg-pc.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.service-banner-person {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    position: absolute;
    bottom: -88px;
    right: 128px;
  }
}

.service-intro-linebreak {
  display: none;

  @media (min-width: 1024px) {
    display: inline;
  }
}

.hl-hot {
  // highlight for HOT plan
  border: 2px solid $secondary-50;
  position: relative;
}

.hl-hot::before {
  position: absolute;
  content: 'HOT';
  top: -2px; // compensation for border-width
  left: -2px; // compensation for border-width
  @extend .py-2, .px-4;
  @extend .fw-bold, .fs-sm, .lh-sm;
  @extend .bg-secondary-50;
  @extend .rounded-top-start-2, .rounded-bottom-end-1;

  @include media-breakpoint-up(md) {
    // not allowed to extend selectors that appear outside its at-rule.
    // see: https://sass-lang.com/documentation/at-rules/extend/#extend-in-media
    border-top-left-radius: $border-radius-lg;
  }
}

.plan-img-width {
  width: 300px;
}

.consult-card-min-width {
  min-width: 300px;
}

.bg-subscribe {
  background: url(/assets/images/service/subscribe-3.svg) no-repeat;
  background-position: top right;
}
