<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>職旅 Workway</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <div class="py-7 py-md-9">
      <div class="container mb-6">
        <div class="hero">
          <h1 class="h2 display-md-1 fw-bold mb-5 text-center">一起陪伴、探索<br />還有你那些未完成的夢</h1>
          <div class="text-center d-md-flex justify-content-md-between">
            <p class="text-natural-50 text-md-start fs-md-5 p-1 mb-4 mb-md-0">
              自由工作很美，也很難。<br />我們用 1 對 1 陪伴，陪你從第一步開始，直到夢想變成日常
            </p>
            <button
              type="button"
              class="btn btn-secondary-50 rounded-md-2 d-inline-flex align-items-center btn-custom-lg fw-bold h4 fs-md-3 lh-sm"
            >
              開始你的職旅<span class="material-symbols-outlined ms-md-1 icon"> chevron_right </span>
            </button>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="d-md-none">
          <img src="/assets/images/index/hero-4.png" alt="hero-4" />
        </div>
        <div class="d-none d-md-flex row row-cols-3 gx-5">
          <div class="col d-flex align-items-stretch"><img src="/assets/images/index/hero-1.png" alt="hero-1" /></div>
          <div class="col">
            <img src="/assets/images/index/hero-2.png" alt="hero-2" class="mb-5" />
            <img src="/assets/images/index/hero-3.png" alt="hero-3" />
          </div>
          <div class="col d-flex align-items-stretch"><img src="/assets/images/index/hero-4.png" alt="hero-4" /></div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
