<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>服務方案｜職旅 Workway</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <div class="py-7 py-md-9 bg-service-banner">
      <div class="container position-relative">
        <img src="/assets/images/service/banner-person.svg" alt="banner-person" class="service-banner-person" />
        <div class="text-center">
          <h1 class="fw-bold fs-2 fs-md-1 mb-5 mb-md-7">服務方案</h1>
          <p class="fs-md-5 text-natural-50">
            我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑<br
              class="service-intro-linebreak"
            />戰，我們的專家團隊將全程陪伴，確保您順利實現職業自由。
          </p>
        </div>
      </div>
    </div>

    <%- include('./layout/footer-cta'); -%> <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
